.navbar {
  padding: 1.2rem 7%;
  border: 1px solid salmon;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: #242424;
}

.nav-logo {
  margin-left: 0;
  font-size: 2rem;
  font-weight: 700;
}

.nav-extra {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-status {
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid salmon; */
  margin-left: 2rem;
  padding-left: 1rem;
}

.status {
  /* border: 1px solid salmon; */
  border-radius: 10px;
  padding: 0.4rem 1rem;
  background: #ce4c4c;
}

.nav-extra a {
  /* border: 1px solid salmon; */
  margin: 1rem;
  /* margin-right: 0; */
}

.nav-status a {
  margin-right: 0;
}

.nav-connect {
  background: none;
  border: none;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
}

.connect-content {
  border: 1px solid violet;
  top: 30%;
  left: 37%;
  position: fixed;
  background: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 999;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.connect-content h1 {
  margin: 0;
}

.connect-input {
  color: black;
  width: 100%;
  height: 30px;
  margin: 20px 0;
  border-radius: 30px;
  padding: 20px;
  font-size: 1rem;
  border: none;
}

.connect-button {
  height: 30px;
  text-decoration: none;
  border-radius: 10px;
  background: #5dce4c;
  cursor: pointer;
  border: none;
}
